.home-btns {
    
}

/* unvisited link */
a {
  color: #44EEEE;
}

/* mouse over link */
a:hover {
  color: #FFFF66;
}

/* selected link */
a:active {
  color: orange;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    color: #000;
    text-shadow: -1px -1px 0 #ff6, 1px -1px 0 #ff6, -1px 1px 0 #ff6, 1px 1px 0 #ff6;
    text-align: center;
}
