<h2>Get data on taxes</h2>

<form class="form" role="form" ng-submit="getData()">
  <div class="checkbox" >
    <label><input type="checkbox" ng-model="userRequest.taxRate"> Tax Rate</label>
    <label><input type="checkbox" ng-model="userRequest.salesTax"> Sales Tax </label>
  </div>
  <div class="form-group">
    <label for="address">Enter address, including city and state:</label>
    <input type="text" class="form-control" id="adress" ng-model="userRequest.address">
  </div>

  <button type="submit" class="btn btn-success">Get Data</button>
</form>

